<h1>sendmails</h1>
<div class="form-container">
  <form #f="ngForm" (ngSubmit)="sendmails(f)" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>collection</mat-label>
      <select matNativeControl required [(ngModel)]="selectedValue" name="selectedValue">
        <option *ngFor="let col of collections" [ngValue]="col">{{col.name}}</option>
      </select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="subject" [(ngModel)]="subject" name="subject">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="template-id" [(ngModel)]="templateId" name="templateId">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="field" [(ngModel)]="field" name="field">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>operator</mat-label>
      <select matNativeControl [(ngModel)]="selectedOperator" name="selectedOperator">
        <option *ngFor="let col of operatorList" [ngValue]="col">{{col.name}}</option>
      </select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="value" [(ngModel)]="value" name="value">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>true or false</mat-label>
      <select matNativeControl [(ngModel)]="trueorfalse" name="trueorfalse">
        <option [ngValue]="true">true</option>
        <option [ngValue]="false">false</option>
        <option [ngValue]=""></option>
      </select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="text" [(ngModel)]="text" name="text"></textarea>
    </mat-form-field>
    <button class="example-full-width" mat-button>check email data</button>
  </form>
  <div class="example-form">
    <br>
    <h4>mail</h4>
    <mat-list>
      <mat-list-item class="example-full-width">
        <p>doclength: {{ doclength }}</p>
      </mat-list-item>
      <mat-list-item class="example-full-width">
        <p>subject: {{ subject }}</p>
      </mat-list-item>
      <mat-list-item class="example-full-width">
        <p>where: {{ field }} {{ selectedOperator.name }} {{ value||trueorfalse }}</p>
      </mat-list-item>
      <mat-list-item class="example-full-width">
        <p>text: {{ text }}</p>
      </mat-list-item>
    </mat-list>
    <mat-list *ngFor="let item of emailArray">
      <mat-list-item class="example-full-width">
        <p class="example-full-width">{{item.name}} : {{item.email}}</p>
        <button mat-raised-button (click)="sendPersonal(item)">📧 mail </button>
      </mat-list-item>
      <hr>
    </mat-list>
    <button mat-raised-button (click)="sendSingles()">send singles</button>&nbsp;
    <button mat-raised-button (click)="sendBulk()">send bulk</button>
  </div>
</div>
