:host {
  text-align: center;
  padding: 24px;
}

mat-nav-list {
  max-width: 600px;
  background-color: #212121;
  padding: 0;
  margin: 0 auto;
}

mat-list-item {

  transition: transform 300ms ease;

  &:hover {
    transform: translateY(-3px);
  }

  transition: transform 300ms ease;
}

.example-form {
  max-width: 600px;
  background-color: #212121;
  width: 45%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
}

.example-full-width {
  width: 90%;
}

mat-list {
  padding: 5px !important;
}

.textwidth {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.form-container {
  display: flex;
  width: 90%;
  margin: auto;
}
